.left {
  text-align: left;
  width:920px;
  float: left;  
}
.right {
  text-align: left;
  width:360px;
  float: right;
}
.red {
  color: #ff0000;
}
svg {
  margin: 20px auto;
}
svg.demo,
.demo svg {
  border: 2px solid black;
  box-shadow: 0 0 6px #0003;
}
.highlight {
  color: #f89e40;
}
p, ul, li, div {
  text-align: left;
}
.reveal section img {
  border: none;
  box-shadow: none;
}
.reveal section img.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

text {
  font: 20px sans-serif;
  text-anchor: middle;
}
.reveal section h3 img {
  margin: 0 0 0 50px;
  height: 100px;
  display: inline-block;
  vertical-align: middle;
}
#references, #coolstuff {
  text-align: left;
  font-size: .7em;
}
#references {
  font-size: .7em;
}
#tableofcontent ul {
  line-height: 1.3em;
}
.reveal ul {
  line-height: 2em;
}

.reveal h2 {
  margin-bottom: 1em;
}

