.left {
  text-align: left;
  width:920px;
  float: left;  
}
.right {
  text-align: left;
  width:360px;
  float: right;
}
.red {
  color: #ff0000;
}
svg {
  margin: 20px auto;
  border: 2px solid black;
  box-shadow: 0 0 6px #0003;
}
.highlight {
  color: #0000ff;
}
p, ul, li, div {
  text-align: left;
}
.reveal section img {
  border: none;
  box-shadow: none;
}
.reveal section img.center {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

text {
  font: 20px sans-serif;
  text-anchor: middle;
}
.reveal section h3 img {
  margin: 0;
}

